* {
  font-family: "chrirp",
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  margin: 0;
}

div.grid {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

button {
  background: transparent;
  color: white;
  border: none;
  transition: background-color 600ms ease;
}

button:hover {
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.495);
  border: 1px rgb(101, 101, 101) solid;
  transition: background-color 150ms ease;
}
div.grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

div.left-bar {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
  font-weight: ;
}

button.left-bar-item {
  border-radius: 10px;
  font-size: 20px;
  margin-top: 15px;
}

button.top-bar-item {
  font-size: 25px;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.post {
  color: white;
}

p.name {
  font-weight: bold;
}

div.middle {
  border-inline: 1px solid #2f3336;
}

button.top-bar-item {
  font-size: 25px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.post {
  color: white;
}


button.left-bar-item img {
  margin-right: 20px;
  width: 28px;
  height: 28px;
}